body {
    background-color: white;
}


.game-name {
    text-align: center;
    font-size: 50px;
}


.wrapper-images {
    display: flex;
    justify-content: center;
}

.btn-primary-paper img,
.btn-primary-rock img,
.btn-primary-scissors img
 {
    width: 200px;
    height: 200px;
    object-fit: contain;
}


.result-game {
    display: flex;
    justify-content: center;
    font-size: 25px;
}

.wins_tie_lose {
    display:flex;
    justify-content: center;
    font-size: 35px;
}