/* body {
    background-color: gainsboro;
}

.result-game {
    padding: 25px;
    
};

.game-name {
    font-size: 50px;
    margin-left: 300px;
    margin-top: 50px;
}

.btn-primary-paper {
    background-color: rgb(255, 255, 255);
    color: black;
    font-size: 16px;
    padding: 50px 40px;
    border: none;
    cursor: pointer;
    margin-left: 200px;
    margin-top: 350px;
    border-radius: 100%;
}

.btn-primary-rock {
    background-color:gray;
    color: black;
    font-size: 20px;
    padding: 50px 40px;
    border: none;
    cursor: pointer;
    margin-left: 200px;
    margin-top: 350px;
    border-radius: 100%;
}

.btn-primary-scissors {
    background-color: red;
    color: black;
    font-size: 20px;
    padding: 50px 30px;
    border: none;
    cursor: pointer;
    margin-left: 200px;
    margin-top: 350px;
    border-radius: 100%;
} */